     *{
           margin: 0px;
	   padding: 0px;
           font-family: Century;
       }

       header{
            background-image: url("CUTIE BG PIC.jpg");
	    height: 100vh;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
       }

       ul{
            float: right;
            list-style: none;
            margin-top: 30px;
            min-height: 400px;
            margin-right: 20px;
            font-size: 17px;
       }
       ul li{
            display: inline-block;
       }
       ul li a{
            text-decoration: none;
            color: #FDFEF9;
            padding: 5px 20px;
            border: 1px solid transparent;
            transition: 0.5 ease;
       }
       ul li a:hover{
            background-color: #FDFEF9;
            color: #70787A;
       }
       ul li.active a{
            background-color: #FDFEF9;
            color: #70787A;
       }
       .logo img{
            float: left;
            margin-left: 0px;
            margin-top: 0px;
            width: 230px;
            height:200px;
       }
       .main{
            max-width: 1200px;
            margin: auto;
       }
        .welcome-message {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);      
        }
        .welcome-message h1{
            color: #FDFEF9;
            font-size: 50px;
        }
        .description {
            position: absolute;
            top: 40%;
            left: 30%;
            transform: translate(-50, -50);
            color: #B3D598;
            font-size: 30px;
        }
        .affirmations {
            position: absolute;
            top: 50%;
            left: 35%;
            transform: translate(-50, -50);
            color: #70787A;
            font-size: 20px;  
        }

         .sprite1 img {	
		position:absolute;
		top: 30px;
		right: 60px;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		}

	.sprite1 img:hover{
		transform: scale(1.5,1.5);
	}

	.sprite2 img {	
		position:absolute;
		top: 30px;
		right: 20px;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		}

	.sprite2 img:hover{
		transform: scale(1.5,1.5);
	}
         footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                color: #FDFEF9;
                text-align: center;
                padding: 10px;
         }